﻿@model Domain.Mapper.EmployeeMapper;

@{
    ViewData["Title"] = "Employ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var employees = ViewData["employees"];
}
<div>
    <br />
</div>
<h1>Employees</h1>
<div class="container">
    <form id="form1" runat="server" asp-controller="Home">
        <div>
            @using (Html.BeginForm(FormMethod.Post))
            {
                <table class="table table-bordered table-hover" style="border-spacing:5px;">
                    <tr>
                        <td>ID</td>
                        <td><input type="text" name="ID" id="id" class="form-control" /></td>
                    </tr>
                </table>
                <br />
                <div>
                    <input type="submit" value="Buscar" formaction="@Url.Action("Search", "Home")" class="btn btn-success" />&nbsp;
                </div>
            }
        </div>
        
    </form>
</div>


