﻿@model List<PruebaTecnica.DTO.EmployDTO>;
@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Search</h1>
<div>
    @if (@Model != null)
    {

        <div class="itemDiv">
            <table class="itemTable">
                <tr>
                    <td><label>Name</label></td>
                    <td><label>Contract Type Name</label></td>
                    <td><label>Role Name</label></td>
                    <td><label>Salary</label></td>
                </tr>
                @foreach (var item in @Model)
                {
                <tr>
                    <td><label>@item.Name</label></td>
                    <td><label>@item.TypeContractName</label></td>
                    <td><label>@item.RoleName</label></td>
                    <td><label>@item.CalculateValue</label></td>
                </tr>
                }
            </table>
        </div><br />

    }
</div>

